@charset 'UTF-8';

@font-face {
    font-family: 'Link';
    src: url(font/DigitalDisco.ttf);
}

@font-face {
    font-family: 'MeuNome';
    src: url(font/quickynick3d.ttf);
}

:root {
    --fundo: rgba(255, 255, 255, 0.733);
    --fundocinza: #eeeeee;
    --textolink: rgb(0, 132, 255);
    --nome: #ffffff;
    --bordanivel: #c0b7b7;
}

* {
    margin: 0;
    padding: 0;
}


#apresentacao {
    background-image: url(img/fundo_grande.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
    background-attachment: fixed;
}

/* Cabecalho do portifólio*/

header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(2px);
}

.link {
    display: flex;
    width: max-content;
    padding: 10px;
}

.link a {
    margin: auto 20px;
    text-decoration: none;
    font-family: 'Link', Arial, Helvetica, sans-serif;
    font-size: 1.8vw;
    color: var(--nome);
    position: relative;
    top: -100px;
    animation-name: deslize-cabecalho;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    transition: 1s;
}

#linksobremim {
    animation-delay: 0.25s;
}

#habilidades {
    animation-delay: 0.50s;
}

#linkcertificados {
    animation-delay: 0.75s;
}

#linkcontato {
    animation-delay: 1s;
}

#linksobremim:hover, #habilidades:hover, #linkcertificados:hover, #linkcontato:hover{
    font-size: 20px;
    margin: auto 30px;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.527);
    transition: 0.5s;
    animation-delay: 0s;
}

.nome {
    margin: 0; padding: 20px;
    width: max-content;
    text-align: right;
    font-family: 'MeuNome', Arial, Helvetica, sans-serif;
    font-size: 2vw;
    color: var(--nome);
    position: relative;
    top: -100px;
    animation-name: deslize-cabecalho;
    animation-delay: 1.50s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    transition: linear;
}

@keyframes deslize-cabecalho {
    0% {
        top: -100px;
    }

    100% {
        top: 0px;
    }
}

/* Corpo */
/* Artigo sobre mim */

#apresentacao-container {
    margin: 40px auto; padding: 30px;
    width: 50%;
    font-size: 14px;
    text-align: center;
    background-color: var(--fundo);
    backdrop-filter: blur(10px);
    border-radius: 1px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.719);
}

#minhafoto {
    border-radius: 20px;
}

#apresentacao-container > p {
    font-size: 18px;
    text-align: justify;
}

/* ESPAÇAMENTO */

#vazio {
    height: 80px;
}

/* SOBRE MIM */

#sobremim {
    padding: 40px 0px;
    width: 100%;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100vw;
    box-shadow: 2px 2px 10px #00000096;
}

#sobremim-texto {
    display: block;
    margin: auto; padding: 20px;
    width: 50%;
    background-color: #bbbbbb;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #00000080;
}

#sobremim-titulo{
    padding: 5px; margin-bottom: 10px;
    text-align: left;
    font-family: 'Link',Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: lighter;
    border-left: 10px solid black;
    color: rgb(0, 0, 0);
}

.sobremim-paragrafo{
    text-align: justify;
    font-size: 20px;
}

.sobremim-paragrafo > strong{
    font-family: 'Courier New', Courier, monospace;
}

#sobremim-skills{
    border: 1px solid black;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    animation: deslize 5s linear;
    transition: ease-in-out;
}

#sobremim-pontos{
    margin: 20px auto;
}

#sobremim-pontos th{
    border: 1px solid black;
    width: 300px;
}

#sobremim-pontos td{
    padding: 5px;
    text-align: center;
    border: 1px solid black;

}

.sobremim-positivo{
    color: rgb(0, 75, 0);
}

.sobremim-negativo{
    color: rgb(124, 0, 0);
}

/* CERTIFICADOS */

#botao-voltar{
    position: absolute;
    width: min-content; height: min-content;
    left: 40px;
    margin-top: 100px;
    background-color: transparent;
    border: none;
    background-image: url(img/voltar.png);
}

#botao-proximo{
    position: absolute;
    width: min-content; height: min-content;    
    right: 40px;
    margin-top: 100px ;
    background-color: transparent;
    background-image: url(img/voltar.png);
    border: none;
    transform: rotateY(180deg);
}

#proximo, #voltar{
    filter: invert();
}


#certificados{
    background-image: url(img/fundo-certificado.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#certificado-titulo{
    text-align: center;
    color: white;
}

#certificado-sessao{
    display: grid;
    grid-template-columns: auto auto;
}

.certificado-caixa{
    width: max-content;
    margin: auto;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
}

.certificado-caixa:hover{
    background-color: #ffffffce;
    transition: 0.3s ease-in-out;
}

.link-certificado{
    border-radius: 10px;
    text-decoration: none;
    display: grid;
}

.link-certificado:hover{
    color: rgb(0, 0, 0);
    transition: 0.3s ease-in-out;
}

.certificado-imagem{
    width: 300px;
    border-radius: 10px;
    border: 2px solid rgb(116, 71, 29);
    box-shadow: 0px 0px 50px #ffffff52;
    transition: 0.2s ease-in-out;
}

.certificado-imagem:hover{
    width: 320px;
    transition: 0.2s ease-in-out;
    box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.322);
}

.certificado-legenda{
    color: white;
    text-align: center;
    padding: 5px;
}

.certificado-legenda:hover{
    box-shadow: 0px 0px 100px #ffffff52;
    transition: 0.2s ease-in-out;
    color: #000000;
}

/* Rodapé */

#rodape{
    padding: 20px 30px 20px 30px;
    background-color: rgb(179, 179, 179);
    font-family: Arial, Helvetica, sans-serif;
}

#rodape-titulo{
    font-family: 'MeuNome', Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #414141b2;
}

#rodape-informacoes{
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

.rodape-informacoes-caixa > h2{
    color: #414141b2;
    font-size: 18px;
    margin: 10px 0;
}


.lista{
    list-style: none;
    margin: auto;
}

.lista > li{
    margin-top: 5px;
    font-size: 15px;
}

#email{
    color: rgb(65, 65, 65);
    
}


.link-rodape{
    color: rgb(70, 70, 70);
}

.link-rodape:hover{
    color: #000000;
}

.link-rodape:visited{
    color: #797979b2;
}
.link-rodape:visited:hover{
    color: #000000;
}

#link-github-icon{
    height: min-content;
    border-radius: 20px;
    
}

#github-icon{
    margin-top: 10px;
    width: 40px;
    transition: 0.1s ease-in-out;
}

#github-icon:hover{
    width: 45px;
    transition: 0.1s ease-in-out;
}


#copyrigth{
    text-align: center;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}